<md-list>
  <md-item ng-repeat="client in clients">
    <md-item-content>
      <div class="md-tile-left">
        <md-button class="md-fab md-primary"><h2 class="nomargin">{{client.name[0]}}</h2> </md-button>
      </div>
      <div class="md-tile-content">
        <h3>{{client.name}}</h3>
        <h4><a href="" ng-click="deleteClient(client._id)">Delete</a></h4>
        <p>
          {{client.note}}
        </p>
      </div>
    </md-item-content>
  </md-item>
</md-list>

<form ng-submit="addClient()">
  <md-input-container>
    <label>Client name</label>
    <input type="text" ng-model="newClient.name" placeholder="Client name">
  </md-input-container>

  <md-input-container>
    <label>Note</label>
    <textarea ng-model="newClient.note"></textarea>
  </md-input-container>
  <md-button type="material" class="md-fab"><i class="fa fa-cloud-upload"></i></md-button>
</form>