<md-toolbar layout="row" layout-align="center center" ng-controller="NavbarCtrl">

  <md-button href="https://github.com/Swiip/generator-gulp-angular">Gulp Angular</md-button>

  <section flex layout="row" layout-align="left center">
    <md-button href="#" class="md-raised">Clients</md-button>
    <md-button href="#/projects" class="md-raised">Projects</md-button>
    <md-button href="#/hours" class="md-raised">Hours</md-button>
  </section>

  <md-button href="#">Current date: {{ date | date:'yyyy-MM-dd' }}</md-button>

</md-toolbar>
